@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: linear-gradient(to bottom, #3498db, #2ecc71);
    animation: gradient 10s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    background: #f9f9f9;
    max-width: 500px;
    width: 100%;
    padding: 20px 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transform: translateY(0);
    animation: float 2s ease infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0);
    }
}

h1 {
    color: #333;
    font-size: 2.5rem;
    margin-bottom: 15px;
    text-align: center;
}

.option {
    font-size: 20px;
    color: #666;
    margin-bottom: 15px;
    text-align: center;
}

.google a,
.microsoft a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    font-size: 14px;
    text-decoration: none;
    line-height: 50px;
    color: #fff;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.google i,
.microsoft i {
    margin-right: 15px;
}

.google a {
    background: #f7dc6f;
}

.google a:hover {
    background: #f2c464;
}

.microsoft a {
    background: #45a0e6;
}

.microsoft a:hover {
    background: #3780ce;
}